@model IEnumerable<KyotoQuiz.Models.Result>

@{
    ViewData["Title"] = "解答状況";
    var total = Model.Count();
    var correct = Model.Where(m => m.IsCorrect).Count();
    string accuracy = Math.Round(((double)correct / total * 100), 2).ToString();
}

<h1>@ViewBag.Title</h1>

<div class="alert alert-primary" role="alert">
    現在 @total 問解きました。<br>
    現在の正答率は @accuracy %です。
</div>

<!--
    <button class="btn btn-primary" id="toggleTableButton" onclick="toggleTable()">
        Toggle Table
    </button>
-->

<table class="table" id="resultTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr>

<form asp-action="Delete">
    <input type="submit" value="履歴の全削除" class="btn btn-danger">
</form>
